#auth {
	min-height: 100vh;
	width: 100%;
	@include flex(center, center);

	.auth__container {
		height: 80vh;
		width: 50%;
		background-color: rgb(255, 255, 255);
		@include flex(space-between, center);

		.left,
		.right {
			height: 100%;
			width: 100%;
			background-color: $white;
			padding: 20px;
		}

		.left {
			form {
				@include flex(flex-start, flex-start);
				flex-direction: column;
				height: 100%;

				.intro {
					margin-bottom: 20px;
					font-size: 32px;
					font-weight: 400;
				}

				.textInput {
					width: 90%;
					margin-bottom: 20px;
					input {
						border: 2px solid $background2;
						color: $primaryText;
					}
				}

				.passwordField,
				button {
					width: 90%;
				}
				.waiting {
					opacity: 0.5;
				}

				p.redirect {
					margin-top: 15px;
					width: 90%;
					color: $primaryText;
					a {
						color: $background2;
						text-decoration: none;
					}

					.error {
						width: 90%;
					}
				}
			}
		}

		.right {
			background-color: $background2;

			img {
				height: 100%;
				width: 100%;
				object-fit: contain;
			}
		}

		// Media query for smaller screens
		@media (max-width: 768px) {
			flex-direction: column-reverse;

			.left,
			.right {
				width: 100%;
			}

			.right {
				height: 40%;
				order: 2;
				img {
					border-radius: 15px;
					height: 100%;
					object-fit: cover;
				}
			}

			.left {
				height: 100%;
				order: 1;
			}
		}
	}
}
