// Store fonts and colors here
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@400;600;700&family=Roboto:wght@400;700;900&display=swap");
$background: #f0f0f0;
$background2: #bbbbbb;
$color1: #dcf0ff;
$white: #ffffff;
$primaryText: #131b23;

@font-face {
	font-family: "Gilmer";
	src: url("../assets/fonts/Gilmer.otf");
	font-weight: 400;
}
@font-face {
	font-family: "Gilmer";
	src: url("../assets/fonts/Gilmer-Bold.otf");
	font-weight: 700;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Gilmer", sans-serif;
}

// Add mixins here
@mixin flex($justify, $align) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

@mixin container {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	min-height: 100vh;
}

p {
	font-size: 13px;
}
.container {
	@include container();
}

body {
	all: unset;
	background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("../assets/images/auth.png");
	object-fit: fill;
	background-repeat: no-repeat;
	background-size: 100%;
}

input {
	width: 100%;
	height: 40px;
	border-radius: 2px;
	border: none;
	padding: 0 15px;

	&:focus {
		outline: 0;
		border: 0;
	}
}

a {
	text-decoration: none;
	color: $primaryText;
	font-size: 14px;
}
label {
	margin-bottom: 5px;
	display: block;
	font-size: 13px;
	font-weight: bold;
	opacity: 0.9;
	color: $primaryText;
}

button {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	&:hover {
		cursor: pointer;
	}
}
button.primary {
	background-color: $primaryText;
	color: $white;
	border: none;
}

button.secondary {
	background-color: transparent;
}

.error {
	color: red;
	font-weight: bold;
	font-family: "Lato", sans-serif;
	margin-top: -15px;
	margin-bottom: 15px;
	font-size: 12px;
}
