.passwordField {
	width: 100%;
	margin-bottom: 20px;

	.icon {
		width: 20px;
		height: 20px;
		color: $background2;
		margin-right: 10px;
		@include flex(center, center);
		&:hover {
			cursor: pointer;
		}
	}
	.inputField {
		border-radius: 2px;
		border: 2px solid $background2;
		@include flex(space-between, center);
		padding: 0;
		color: $primaryText;
		input {
			width: calc(100% - 20px);
			border: none !important;
			margin: 0;
			margin-left: 0px;
		}
		label {
			width: 100%;
		}
	}
}
